header{
    background-color: $ColorPrimarioMona;
    .container_menu{
        width: 100%;
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 20px;
            li{
                .img_logo{
                    width: 150px;
                }
                .img_user{
                    width: 50px; 
                }
            }
        }
    }
}





